<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <stats number="5" comments="Add Client" goto="dashboard.client" colour="primary" type="user"></stats>
        <stats number="12" goto="dashboard.viewClient" comments="View Client" colour="primary" type="search"></stats>
        <stats number="12" goto="dashboard.gst" comments="View GST" colour="primary" type="search"></stats>
        <stats number="18" goto="dashboard.addGst" comments="Add Client GST" colour="yellow" type="globe"></stats>
        <stats number="24" goto="dashboard.report" comments="Generate Reports" colour="green" type="file"></stats>
        <stats goto="dashboard.deleteClient" comments="Delete Client" colour="red" type="trash"></stats>
    </div>
</div>