<div class="container">
    <div class="row" style="font-size: 18px;margin-top:25px; ">
        <h3 class="form-signin-heading">Add client GST Information</h3>
    </div>
    <div class="row">
        <div class="col col-md-3">
            <div dropdown-select="keyOptions" dropdown-model="key" dropdown-item-label="text" dropdown-onchange="changeSearchType()">
            </div>
        </div>
        <div class="col col-md-9">
            <div class="padded-row">
                <div angucomplete-ie8 id="ex5" placeholder="Search" pause="500" selected-object="selectedClient" remote-url="{{searchApi}}"
                    token-required="true" remote-url-data-field="clients" title-field="{{firField}}" description-field="{{secField}}"
                    minlength="2" input-class="form-control form-control-small" match-class="highlight">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">GST Type</div>
        <div class="col col-md-6">
            <div dropdown-select="gstformresult" dropdown-onchange="ShowGSTPeriod(selected)" dropdown-model="gsttypekey" dropdown-item-label="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">Financial Year</div>
        <div class="col col-md-6">
            <div dropdown-select="yearsResult" dropdown-model="yearkey" dropdown-item-label="text">
            </div>
        </div>
    </div>

    <div class="row" ng-show="showMonths">
        <div class="col col-md-6">Month</div>
        <div class="col col-md-6">
            <div dropdown-select="monthResult" dropdown-model="monthkey" dropdown-item-label="text">
            </div>
        </div>
    </div>
    <div class="row" ng-show="!showMonths">
        <div class="col col-md-6">Quarter</div>
        <div class="col col-md-6">
            <div dropdown-select="quaterResult" dropdown-model="quaterKey" dropdown-item-label="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">GST Status</div>
        <div class="col col-md-6">
            <div dropdown-select="gststatusresult" dropdown-model="gststatuskey" dropdown-item-label="text">
            </div>
        </div>
    </div>
    <div class="row">
        <label for="regdate">Date of Receipt</label>
        <div class="col-md-12">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="receiptDate" is-open="receipt" max-date="'2025-06-22'"
                    datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="receiptOpen($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>

    <div class="row">
        <label for="regdate">Date of filling</label>
        <div class="col-md-12">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fillingDate" is-open="filling" 
                max-date="'2025-06-22'"
                    datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="fillingOpen($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <label for="remark">GST Status Remarks</label>
        <input ng-model="remark" type="text" class="form-control" id="remark" placeholder="Additional Remarks">
    </div>
    <form>
        <button class="btn btn-lg btn-primary btn-block" ng-click="addClientGST()">Add GST Record</button>
    </form>
</div>