<div class="container" ng-show="cartBooks.length !== 0">
    <h3>You have {{autoBooks.length + fictionBooks.length + sciBooks.length}} books in Cart</h3>
    <div class="row" style="margin-top: 20px; margin-right: 15px;">
        <div class="input-field col s2"  style="margin-right: 15px;">
            <a class="waves-effect waves-red btn" ng-show="areItemsSelected" ng-click="removeBooks()">
                <i class="fa fa-trash" aria-hidden="true"></i>
                Remove</a>
        </div>
        <div class="input-field col s4">
            <input id="first_name" type="text" ng-model="search">
            <label for="first_name">Search Books by author or name </label>
        </div>
        <div class="col s2">
            <a class="waves-effect waves-red btn" ng-show="areItemsPresent" ng-click="confirmBooks()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Confirm Issue</a>
        </div>
    </div>
    <table class="bordered highlight responsive-table">
        <thead>
        <tr>
            <th>Select Books</th>
            <th>No.</th>
            <th>Name</th>
            <th>Cover Image</th>
            <th>Author</th>
            <th>Price (INR)</th>
            <th>Category</th>
            <th>Availability</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="book in cartBooks |filter: search" ng-class="{'book-unavailable': book.available < 1}">
            <td>
                <input type="checkbox" style="position: initial; opacity: 1;" ng-click="selectBook($index)" ng-disabled="book.available < 1" />
            </td>
            <td>{{$index + 1}}</td>
            <td>{{book.name}}</td>
            <td><img ng-src="{{book.image}}" class="book-image" style="width:50px;"/></td>
            <td>{{book.zuthor}}</td>
            <td>{{book.price}}</td>
            <td>{{book.categoryName}}</td>
            <td>{{book.available > 0 ?'Available': 'Not-available'}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container" ng-show="cartBooks.length === 0">
    <div class="row" style="margin-top: 20px" >
        <div class="col s12">
            <h3>Oops..! Looks like you haven't added anything yet.. </h3>
        </div>
    </div>
</div>
