<div class="container">
    <h3>Your Issued History</h3>
    <div class="row" style="margin-top: 20px;">
        <div class="input-field col s9">
            <input id="first_name" type="text" ng-model="search">
            <label for="first_name">Search Books by author or name </label>
        </div>
        <div class="input-field col s2">
            <a class="waves-effect waves-green btn-large" ng-show="areItemsSelected" ng-click="checkout()"><i class="material-icons right">Add Books to cart</i></a>
        </div> </div>
    <table class="bordered highlight responsive-table">
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Cover Image</th>
            <th>Author</th>
            <th>Price (INR)</th>
            <th>Due-Date</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="book in books |filter: search" ng-class="{'over-due': book.Status ==='Over-Due'}">
            <td>{{$index + 1}}</td>
            <td>{{book.Name}}</td>
            <td><img ng-src="{{book.Image}}" class="book-image" style="width:50px;"/></td>
            <td>{{book.Author}}</td>
            <td>{{book.Price}}</td>
            <th>{{book.DueOn}}</th>
            <th>{{book.Status}}</th>
        </tr>
        </tbody>
    </table>
</div>