<div class="container">
    <div class="row" style="font-size: 18px;margin-top:25px; ">
        <h3 class="form-signin-heading">View Client GST Information</h3>
    </div>
    <div class="row">
        <div class="col col-md-3">
            <div dropdown-select="keyOptions" dropdown-model="key" dropdown-item-label="text" dropdown-onchange="changeSearchType()">
            </div>
        </div>
        <div class="col col-md-6">
            <div class="padded-row">
                <div angucomplete-ie8 id="ex5" placeholder="Search" pause="500" selected-object="selectedClient" remote-url="{{searchApi}}"
                    token-required="true" remote-url-data-field="clients" title-field="{{firField}}" description-field="{{secField}}"
                    minlength="2" input-class="form-control form-control-small" match-class="highlight">
                </div>
            </div>
        </div>
        <div class="col col-md-3">
            <button class="btn btn-lg btn-primary btn-block" ng-click="editGST()">Edit GST</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">Financial Year</div>
        <div class="col col-md-6">
            <div dropdown-select="yearsResult" dropdown-onchange="loadGstFYChanged(selected)" dropdown-model="yearkey" dropdown-item-label="text">
            </div>
        </div>
    </div>
    <table  st-table="rowCollection"  st-safe-src="rowCollection" class="table table-striped">
        <thead>
            <tr>
                <th st-sort="periodTime">periodTime</th>
                <th st-sort="gstTypeId">gstTypeId</th>
                <th st-sort="gstStatus">gstStatus</th>
                <th st-sort="receiptDate">receiptDate</th>
                <th st-sort="fillingDate">fillingDate</th>
                <th st-sort="remark">remark</th>
            </tr>
            <tr>
                <th>
                    <input st-search="periodTime" placeholder="Search" />
                </th>
                <th>
                    <input st-search="gstTypeId" placeholder="Search" />
                </th>
                <th>
                    <input st-search="gstStatus" placeholder="Search" />
                </th>
                <th>
                    <input st-search="receiptDate" placeholder="Search" />
                </th>
                <th>
                    <input st-search="fillingDate" placeholder="Search" />
                </th>
                <th>
                    <input st-search="remark" placeholder="Search" />
                </th>
            </tr>
        </thead>


        <tbody>
            <tr ng-repeat="data in rowCollection">
                <td>
                    {{data.periodTime|uppercase }}
                </td>
                <td>{{data.gstTypeId | uppercase }}</td>
                <td>{{data.gstStatus}}</td>
                <td>{{data.receiptDate | date}}</td>
                <td>{{data.fillingDate | date}}</td>
                <td>{{data.remark}}</td>
            </tr>
        </tbody>
    </table>

</div>